<div id="aboutDialog" title="About Web Trace Monitor" style="display: none">
    
    <p><img src="../../Images/logo.png" /> Copyright 2013 by Bernd Kullick</p>
    <p>Website: 
        <a href="http://webtracemonitor.codeplex.com" target="_blank">http://webtracemonitor.codeplex.com</a>
    </p>
    <p>Version: @WebTraceMonitor.Classes.Config.Version</p>
</div>