<div id="aboutDialog" title="About Web Trace Monitor" style="display: none">
    
    <p><img src="../../Images/logo.png" /> Copyright (c) 2013 Bernd Kullick</p>
    <p>Website: 
        <a href="https://github.com/berndku/webtracemonitor" target="_blank">https://github.com/berndku/webtracemonitor</a>
    </p>
    <p>Version: @WebTraceMonitor.Classes.Config.Version</p>
</div>