<div id="statusbar">
    <div id="lblMessageCount" class="statusbar-area"><strong id="spanMessageCount">0</strong> traces buffered</div>
    <div id="lblErrorIcon" class="statusbar-area error-icon"></div>
    <div id="lblErrorCount" class="statusbar-area"><strong id="spanErrorCount">0</strong> Errors</div>
    <div id="lblConnection" class="statusbar-area lblConnection-disconnected">Connected</div>
</div>
