<div id="menu">
    <div id="toolbar" class="ui-widget-header">
        <span id="toolbarGroupControl">
            <button id="btnSave" class="ui-button ui-button-text-icon-primary toolbar-button">Save</button>
            <button id="btnError" class="ui-button ui-button-text-icon-primary toolbar-button menu-icon-selected">Errors</button>
            <button id="btnWarning" class="ui-button ui-button-text-icon-primary toolbar-button menu-icon-selected">Warnings</button>
            <button id="btnInformation" class="ui-button ui-button-text-icon-primary toolbar-button menu-icon-selected">Information</button>
            <button id="btnVerbose" class="ui-button ui-button-text-icon-primary toolbar-button menu-icon-selected">Verbose</button>

            <button id="btnClear" class="ui-button ui-button-text-icon-primary toolbar-button">Clear</button>
            <button id="btnConnection" class="ui-button ui-button-text-icon-primary toolbar-button">Disconnect</button>
            <button id="btnScroll" class="ui-button ui-button-text-icon-primary toolbar-button">Scrolling</button>

            <select id="btnMachines" name="example" multiple="multiple">
            </select>
        </span>

        <div id="waitOverlay" style="display: none;">
            Filter in progress. Please wait ...
        </div>
    </div>
</div>
